/* Import font from assets */
@font-face {
    font-family: 'Nuform-Sans';
    src: url('../src/assets/fonts/nuform/nuformsans-regular-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/nuform/nuformsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Ozik';
    src: url('../src/assets/fonts/ozik/ozik-regular-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/ozik/ozik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
  /* Colours */
  --rock: #ff3b00;
	--rock-dark: #970909;
	--paper: #6982ff;
	--paper-dark: #2e4de8;
	--scissors: #ffb01e;
	--scissors-dark: #ad590f;
	--white: #f3f3f3;
	--gray: #2d334d;
	--blue: #2140ca;
	--deep-blue: #003ce6;
	--dark-blue: #002da9;
	--red: #ff3b00;

  /* Borders */
	--border-radius: 5px;
	--border-radius-big: 10px;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Nuform-Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--deep-blue);
}

*, *::before, *::after {
  user-select: none;
  box-sizing: border-box;
}